$orange: #FF5307;
$yellow: #FFD803;
$brown: #321726;
$blue: #049EC0;
$gray: #f7f7f7;
$orange-gr:linear-gradient(135deg, #FFA318 0%, #E04300 100%);
$radiusBtn: 10px;
$transition3: .3s all;
$transition2: .3s all;