.about {
  padding: 45px 0 70px;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;

  &__text {
    margin-bottom: 40px;
  }

  img {
    border-radius: 18px;
  }

  &__img {
    border-radius: 18px;
    margin-bottom: 40px;
  }

  .wp-block-image.size-full {
    position: relative;

    &::before {
      content: url("../img/lobog.svg");
      position: absolute;
      top: calc(50% - 70px);
      left: 70px;
    }
  }
}

@media screen and (max-width: 767px) {
  .about {
    padding: 35px 0 60px;
    font-size: 13px;
    line-height: 18px;

    .wp-block-image.size-full {
      position: relative;

      &::before {
        content: none;
        display: none;
      }
    }

    &__text {
      margin-bottom: 30px;
    }

    &__img {
      margin-bottom: 30px;
    }
  }
}