.card {
  margin-bottom: 30px;
  border-radius: 18px 18px 0 0;
  overflow: hidden;
  transition: $transition2;

  &__hidden {
    transition: $transition2;
    transform: translateY(-50px);
    opacity: 0;
    visibility: hidden;
    display: none;
    background: #F7F7F7;
    padding: 0 20px 12px;
    border-radius: 0 0 18px 18px;
    overflow: hidden;
  }

  &__info {
    padding: 12px 20px;
  }

  &:hover {
    .card__hidden {
      transform: scale(1);
      opacity: 1;
      display: block;
      transform: translateY(0);
      visibility: visible;
      position: absolute;
      z-index: 10;
      left: 15px;
      right: 15px;
      box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.45);
    }

    z-index: 11;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.45);
  }

  &.card-nohover {
    &:hover {
      box-shadow: none;
    }
  }

  &__img {
    border-top-left-radius: $radiusBtn;
    border-top-right-radius: $radiusBtn;
    height: 320px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;


    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

  &__feedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  &__name {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    box-orient: vertical;
    height: 40px;
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 9px;

    &-b {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 9px;
    }
  }

  &__price {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    text-decoration: line-through;
    margin-bottom: 9px;
    opacity: .5;

    &-b {
      display: inline-block;
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 9px;
    }
  }

  &__btns {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__btn {
    display: flex;
    width: 100%;
    padding: 10px;
    width: 48%;
    font-size: 14px;
  }
}

@media screen and (max-width: 1599px) {
  .card {
    &__info {
      padding: 10px;
    }

    &__hidden {
      padding: 0 10px 12px;
    }

    &__btn {
      font-size: 12px;
      padding: 8px;
    }

    &__text {
      font-size: 11px;
      margin-bottom: 3px;

      &-b {
        font-size: 14px;
        margin-bottom: 3px;
      }
    }

    &__price {
      font-size: 12px;
      margin-bottom: 3px;

      &-b {
        font-size: 14px;
        margin-bottom: 3px;
      }
    }
  }
}
@media (max-width:575px) {
  .card{
    &__btns{
      margin-top: 0;
    }
    &:hover {
      .card__hidden {
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.45);
      }

      z-index: 11;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.45);
    }
  }
}