.form-block{
  margin: 50px 0;
  &__wrapper{
    background-color: #E6E6E6;
    //background-image: url('../img/fb.png');
    //background-size: contain;
    //background-position: left 25px, bottom;
    //background-repeat: no-repeat;
    border-radius: $radiusBtn;
  }
  &__img{
    transform: scale(1.1);
  }
  &__text{
    margin-left: 30px;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
  }
  &-form{
    &__wrapper{
      padding: 55px 0 30px!important;
      background-image: none!important;
    }
  }
}