.header {
  padding: 10px 0;

  .woocommerce-mini-cart__total.total {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    span{
      margin-left: 5px;
    }
  }

  &-basket {
    &__btn {
      width: 100%;
      padding: 13px;
    }

    &-rel {
      position: relative;

      &:hover {
        .header-basket {
          z-index: 100;
          display: flex;
        }
      }
    }

    z-index: -1;
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    width: 420px;
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 15px 0 #afabce;

    flex-direction: column;
    align-items: center;
    padding: 30px 20px;

    &__item {
      display: flex;
      margin-bottom: 20px;
      width: 100%;
    }

    &__img {
      width: 130px;
      padding-right: 30px;

      img {
        border-radius: 18px;
        width: 100px;
        height: 100px;
        min-width: 100px;
        min-height: 100px;
        max-width: 100px;
        max-height: 100px;
      }
    }

    &__name {
      display: block;
      font-weight: bold;
      font-size: 15px;
      line-height: 20px;
      margin-bottom: 20px;
    }

    &__price {
      font-size: 20px;
      line-height: 20px;
    }
  }

  &__city {
    display: flex;
    font-size: 14px;
    line-height: 24px;

    span {
      margin-left: 10px;
    }
  }

  &__burger {
    display: none;
  }

  &__profile {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    a {
      display: block;
      margin-left: 20px;
    }
  }

  &__menu {
    display: flex;

    a {
      display: block;
      font-size: 14px;
      line-height: 24px;
      margin-right: 15px;
    }
  }

  &__row {
    margin-bottom: 15px;
  }

  &__hover {
    display: flex;
    transition: $transition3;

    & > li {
      margin-right: 30px;

      position: relative;
      display: flex;
      align-items: center;

      & > a {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 14px;
        line-height: 18px;
        font-weight: 700;

        span {
          display: block;
          margin: 0 15px;
        }

        &:hover {
        }
      }

      &:hover {
        & > ul.header__submenu {
          visibility: visible;
          opacity: 1;
        }

      }
    }
  }

  &__submenu {
    position: absolute;
    width: 360px;
    padding: 20px;
    border-radius: $radiusBtn;
    z-index: 10;
    background-color: #fff;
    top: 34px;
    left: 0px;
    visibility: hidden;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.45);
    transition: $transition3;
    opacity: 0;

    li {
      display: block;
      padding: 10px 20px;
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;

      &:first-child {
        padding: 20px 20px 10px 20px;
      }

      &:last-child {
        padding: 10px 20px 20px 20px;
        font-size: 14px;
        line-height: 18px;
        font-weight: 700;
      }

      a {
        display: block;
        text-decoration: none;
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;

      }

    }
  }

  &__search {
    &-img {
      display: none;
    }
  }

  &__basket {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &-fix {
      display: none !important;
    }

    & > span {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      font-size: 16px;
      line-height: 24px;
      margin-left: 10px;
    }
  }

  &-category {
    margin: 25px 0;

    &__btn {
      padding: 6px 14px;
      position: relative;
      transition: none !important;

      &:hover {
        & > .header-category__content {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    &__hover {
      display: flex;
      transition: $transition3;
      justify-content: space-between;

      & > li {

        position: relative;
        display: flex;
        align-items: center;

        &:last-of-type, &:nth-of-type(8) {
          & > ul.header-category__submenu {
            right: 0;
            left: auto;
          }
        }

        & > a {
          display: flex;
          align-items: center;
          text-decoration: none;
          font-size: 14px;
          line-height: 18px;

          span {
            display: block;
            margin: 0 15px;
          }

          &:hover {
          }
        }

        &:hover {
          & > ul.header-category__submenu {
            visibility: visible;
            opacity: 1;
          }

        }
      }
    }

    &__submenu {
      position: absolute;
      width: 510px;
      columns: 3 100px;

      padding: 20px !important;
      border-radius: $radiusBtn;
      z-index: 1000;
      background-color: #fff;
      top: 30px;
      left: 0px;
      visibility: hidden;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.45);
      transition: none !important;
      opacity: 0;

      &-end {
        right: 0;
        left: auto;
      }

      li {
        display: block;
        font-weight: 300;
        font-size: 14px;
        line-height: 27px;


        a {
          display: block;
          text-decoration: none;
          font-size: inherit;
          line-height: inherit;
          font-weight: inherit;

        }

      }
    }

  }
}

.form-wrapper-header {
  display: flex;

  & > span {
    width: 100%;
    position: relative;

    &:first-child {
      width: calc(100% - 40px);
    }

    &:nth-child(2) {
      width: 40px;
    }

    /*  &::before{
        content: url("../img/search.svg");
        display: block;
        position: absolute;
        top: 0px;
        right: 8px;
      }*/
    & > input {
      width: 100%;
      border-radius: $radiusBtn;
      border: 1px solid #e6e6e6;
      background: #fff;
      padding: 6px;

    }

    & > button {
      width: 100%;
      border-radius: $radiusBtn;
      background: $orange;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6px;
      height: 100%;
      margin-left: -11px;
      transition: $transition3;

      &:hover {
        background: $blue;
      }
    }
  }
}

@media screen and (max-width: 1599px) {
  .header {
    &__city {
      font-size: 13px;
    }

    &__menu {
      display: flex;
      justify-content: space-between;
      width: 100%;

      a {
        margin-right: 0;
        font-size: 13px;
      }
    }

    &-category {
      &__hover {
        & > li {
          & > a span {
            margin: 0;
          }
        }
      }

      &__submenu {
        width: 400px;
      }
    }


    &__basket {
      span {
        font-size: 13px;

      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .header {
    &__menu {
      a {
        font-size: 11px;
      }
    }

    &-category {
      &__btn {
        padding: 6px 10px;
      }

      &__hover {
        & > li {
          & > a {
            font-size: 12px;
          }
        }
      }

      &__submenu {
        width: 300px;
      }
    }

    &__city {
      font-size: 11px;
    }

    &__basket {

    }

    &__search {
      &-img {
        display: block;

        padding: 6px;
        height: 100%;
      }

    }
  }
  .form-wrapper-header {

    position: fixed;
    top: -70px;
    visibility: hidden;
    opacity: 0;
    left: 0;
    width: 100%;
    padding: 15px 40px;
    background-color: $blue;
    z-index: 100;
    transition: $transition3;

    &.active {
      visibility: visible;
      opacity: 1;
      top: 0;
    }

    & > input {
      padding: 3px;

    }

    & > button {
      padding: 3px;
      margin-left: -11px;

      &:hover {
        background: $yellow;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .header {
    &__row {
      margin: 10px -15px;
    }

    &-category {
      margin: 0;


      &__hover {
        flex-direction: column;
        align-items: center;

        & > li {
          flex-wrap: wrap;
          margin-bottom: 10px;
          display: flex;
          justify-content: center;

          a {
            display: inline-flex;
            margin-bottom: 10px;
          }


        }
      }

      &__submenu {
        display: none;

      }

    }

    &__burger {
      display: block;
    }

    &__basket {
      span {
        display: none;
      }

      &-fix {
        display: block !important;
      }

      width: auto;
    }

    &__profile {
      align-items: center;

      a {
        margin-left: 12px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
