.wp-block-column h2, .wp-block-column h3, .wp-block-column h4, .wp-block-column h5, .wp-block-column h6 {
  padding-bottom: 20px;
}

.wp-block-column p {
  padding-bottom: 10px;
}

.woocommerce-info {
  text-align: center;
}

.woocommerce {

  input {
    text-align: left;
    padding: 10px;
    border: 1px solid #E6E6E6;
    background: #fff;
    border-radius: 10px;
    transition: 0.3s all;
  }

  label {
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
  }

  textarea {
    width: 100%;
    height: 140px;
    padding: 10px;
    border: 1px solid #E6E6E6;
    background: #fff;
    border-radius: 10px;
    transition: 0.3s all;
  }
}

@media (min-width: 768px) {
  .col2-set .form-row-first, .col2-set .form-row-last {
    width: 100% !important;
    margin-right: 0 !important;
  }
}

.address-field {
  width: 100%;
}

.woocommerce-additional-fields__field-wrapper {
  p {
    width: 100%;
  }
}

.form-row .form-row-wide .validate-required {
  width: 48%;
}

.place-order {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.woocommerce-billing-fields__field-wrapper {
  .order-block {
    .form-row {
      &:nth-of-type(2) {
        width: 65%;
        padding-right: 5%;
      }

      &:nth-of-type(3) {
        width: 35%;
      }
    }
  }
}

.woocommerce-info, .woocommerce-noreviews, p.no-comments {
  background-color: transparent !important;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .woocommerce-billing-fields__field-wrapper {
    .order-block {
      .form-row {
        &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
          width: 100%;
          padding-right: 0;
        }
      }
    }
  }
  .woocommerce {
    label {
      font-size: 12px;
      line-height: 20px;
    }
  }

}

@media (max-width: 575px) {
  .woocommerce {
    padding: 0 15px;
  }
}

.payment_method_bacs {
  position: relative;
  padding-left: 55px;

  &::before {
    content: url('../img/card.svg');
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    max-width: 40px;
  }
}

.payment_method_cod {
  position: relative;
  padding-left: 55px;

  &::before {
    content: url('../img/nal.svg');
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    max-width: 40px;
  }
}

.payment_method_cheque {
  position: relative;
  padding-left: 55px;

  &::before {
    content: url('../img/bank.svg');
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    max-width: 40px;
  }
}

.archive {
  display: block !important;
}

.add-favorite,
.delete-favorite,
.in-favorite {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}


#min_price,
#max_price {
  display: block !important;
}


.widget.woocommerce.widget_layered_nav.woocommerce-widget-layered-nav {
  clear: both;
}

.widget-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, .15);
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all .3s;
}

.widget-title.active:after {
  content: url('../img/ar.svg');
  transform: rotate(-90deg);
}

.widget-title:after {
  content: url('../img/arr.svg');
  position: absolute;
  top: 0;
  right: 5px;
  display: block;
}

.widget-title:hover {
  color: #ff5307;
}

.woocommerce-widget-layered-nav-list {
  display: none;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  margin-bottom: 40px;
  transition: all .3s;
}

.woocommerce-widget-layered-nav-list.active {
  display: block;
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  animation-name: l-to-r;
  animation-duration: .3s;
}


.woocommerce-widget-layered-nav-list__item.wc-layered-nav-term {
  display: block;
  width: 100%;
  min-height: 24px;
  padding-left: 0;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
}

.woocommerce-widget-layered-nav-list__item.wc-layered-nav-term:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 3px;
  z-index: -1;
}

.woocommerce-widget-layered-nav-list__item.wc-layered-nav-term.woocommerce-widget-layered-nav-list__item--chosen.chosen:before {
  border: 1px solid rgba(0, 0, 0, .7);
}

.woocommerce-widget-layered-nav-list__item.wc-layered-nav-term.woocommerce-widget-layered-nav-list__item--chosen.chosen:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 10px;
  height: 10px;
  background: #ff5307;
  border-radius: 2px;
}

.woocommerce-widget-layered-nav-list__item.wc-layered-nav-term a {
  width: 100%;
  display: block;
  left: 0;
  z-index: 9;
  padding-left: 30px;
}

.woocommerce-widget-layered-nav-list__item.wc-layered-nav-term .count {
  display: none;
}

.toggleRevForm {
  display: none;

  &.active {
    display: block;
  }
}

.wp-block-columns {
  padding-left: 15px;
  padding-right: 15px;
}

.wp-block-image.size-full {
  img {
    object-fit: cover;
  }
}

.woocommerce-error {
  box-shadow: 5px 5px 20px 5px #afabce;
  border-radius: 18px;
  margin-bottom: 60px !important;
  padding: 20px 15px !important;
  background-color: $orange !important;
  width: 100%;

  & li {
    border-radius: 5px;
    display: flex;
    margin-bottom: 5px;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-align: center;
  }
}

.toggleRevForm {
  padding: 40px 25px;
  border-radius: 18px;
  box-shadow: 0 0 15px 0 #afabce;
}

.quantity {
  display: flex;
  align-items: center;

  span {
    white-space: nowrap;
    margin-right: 5px;
  }

  input {
    max-width: 60px;
  }
}

.cart-discount {
  td {
    min-width: 200px;
  }
}

.order {
  .woocommerce {
    form {
      padding: 0 15px;
    }
  }
}

.single_add_to_cart_button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #ff5307;
  color: #fff;
  border-radius: 10px;
  font-size: 16px;
  line-height: 24px;
  transition: all .3s;
  cursor: pointer;
  width: 48%;
  padding: 18px;
  margin: 25px 0;

  &:hover, &.active {
    background: $yellow;
    color: #000;
  }
}

@media (max-width: 575px) {
  .single_add_to_cart_button {
    width: 100%;
  }
}

.shop_table {
  width: 100%;

  tbody {
    width: 100%;
  }
}

.reviews__text-no-comments {
  margin-bottom: 20px;
}

@media(max-width: 575px) {
  .cart-discount {
    th, td {
      text-align: center;
      display: flex;
      width: 100%;
      justify-content: center;
    }
  }
}

form input[type=radio]:checked + label:after {
  content: "";
  position: absolute;
  display: block;
  background: #ff5307;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
}

form input[type=radio] + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  position: relative;
  max-width: 160px;
}

.swal2-confirm {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 10;
  }
}

.toggle__rev__form__title {
  text-align: center;
  margin-bottom: 20px;
}

.woocommerce {
  flex-wrap: wrap;

  .woocommerce-EditAccountForm.edit-account {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
    align-items: center;

    p {
      display: flex;
      flex-direction: column;
      width: 100%;

      label {
        font-size: 14px;
        line-height: 24px;
        width: 100%;
      }

      input {
        width: 100%;
        margin-bottom: 20px;
      }

      button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: $orange;
        color: #fff;
        border-radius: $radiusBtn;
        font-size: 16px;
        line-height: 24px;
        transition: $transition2;
        cursor: pointer;
        padding: 12px;

        &:hover, &.active {
          background: $yellow;
          color: #000;
        }
      }

      & > span {
        display: block;
      }
    }

    fieldset {
      width: 100%;
      margin-bottom: 20px;
      border-radius: 5px;
    }


  }

  & > p, .woocommerce-order-details, .woocommerce-customer-details {
    width: 100%;
  }

  .woocommerce-order-details {
    table {
      text-align: left;
    }
  }

  .woocommerce-Address {
    width: 100%;
    max-width: 100%;
  }

  .woocommerce-Address-title.title {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 24px;

    a {
      font-size: 18px;
      font-weight: 300;
      margin-left: 10px;
      line-height: 24px;
    }
  }

  address {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 1199px) {
  .woocommerce-Address-title.title {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 24px;

    a {
      font-size: 18px;
      font-weight: 300;
      margin-left: 10px;
      line-height: 24px;
    }
  }
}

@media screen and (max-width: 991px) {
  .woocommerce-Address-title.title {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 24px;

    a {
      font-size: 16px;
      font-weight: 300;
      margin-left: 10px;
      line-height: 24px;
    }
  }
}

@media screen and (max-width: 767px) {
  .woocommerce-Address-title.title {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 24px;

    a {
      font-size: 14px;
      font-weight: 300;
      margin-left: 10px;
      line-height: 24px;
    }
  }
}

@media screen and (max-width: 575px) {
  .woocommerce-Address-title.title {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 24px;

    a {
      font-size: 14px;
      font-weight: 300;
      margin-left: 10px;
      line-height: 24px;
    }
  }
}

.bonus_computy_account, .remaining-amount {
  width: 100%;
}

.woocommerce-MyAccount-navigation {
  ul {
    margin: 0 !important;
    padding: 0 !important;

    li {

      a {
        display: block;
        font-size: 16px;
        line-height: 22px;
        padding: 10px 0;
        transition: all .3s;
      }
    }
  }
}


.woocommerce-form.woocommerce-form-login.login {
  max-width: 832px;

  p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;

    &.form-row {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
      width: 100%;
      max-width: 500px;

      input {
        width: 100%;
      }

      label {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        width: 100%;
        justify-content: center;

        input {
          width: auto;
        }

        span {
          white-space: nowrap;
        }
      }
    }
  }
}

.woocommerce-notices-wrapper {
  margin: 0 auto;
}

.woocommerce-shipping-fields {
  display: none;
}

.woocommerce-error {
  li {
    a {
      display: none;
    }
  }
}

.shop_table.shop_table_responsive {
  tbody {
    tr {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      td {
        font-size: 14px;
      }

      &.basket-item {
        flex-direction: row;
      }
    }
  }
}

.order-result {
  tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);

    td {
      display: flex;
      min-width: 200px;
      align-items: center;
    }
  }
}

.woocommerce-ResetPassword {
  width: 100%;
}

.shipping-method-description {
  font-size: 8px;
}

@media print {

  .form-block,.footer,.thank-item,.kama_breadcrumbs{
    display: none;
  }

}